In [8]:
import pandas as pd

In [13]:
df_BND = pd.read_csv('./NSC2_BND.csv')
df_BND.head(3) #output의 입력 수 만큼 확인가능.

,Unnamed: 0,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2
0,0,64d2fd0966aeaf7c0477bf6b,294364,1921LE,200707.0,T08-T14,W00-W19
1,1,64d2fd0966aeaf7c0477bf6c,646257,1921LE,200805.0,A15-A19,NaN
2,2,64d2fd0966aeaf7c0477bf6d,733575,1921LE,201309.0,G30,NaN

### insertMany to MongoDB

In [14]:
import pymongo as mg

In [15]:
client = mg.MongoClient(host='mongodb://localhost:27017/') # mongodb에 접속한 상태임.

In [17]:
database = client['study_test'] # database 접속 
database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'study_test')

In [18]:
collection = database['collect_tests'] #collection 접속
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'study_test'), 'collect_tests')

In [ ]:
data_list = df_BND.to_dict(orient='records')

In [ ]:
collection.insert_many(data_list)