In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import scipy
import scipy.stats as stats

In [4]:
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:2]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0

### x 연속형, y 연속형 : 주로 상관관계 확인.
- correlation coefficient(상관관계) : -1 ~ 1 사이 (0에 가까우면 관계없음, -1에 가까우면 반비례, 1에 가까우면 비례)

#### 선정 변수 : age, Mileage
- 분석내용 : age에 따른 mileage의 변화가 있는가???
    - 귀무가설 : age에 따른 mileage의 변화가 없다.
    - 대립가설 : age에 따른 mileage의 변화가 있다.
- 분석 결론(기준:p-value 0.05)
    - 통계 결론 : 대립가설 참.
    - 사실 결론 : age에 따른 mileage가 상승한다. (statistic=0.97, pvalue=0.0)

In [15]:
df_TOCC[['age','Mileage']].describe()
df_age_mileage = df_TOCC[['age','Mileage']]
df_age_mileage[:2]

    age  Mileage
0  43.0   1862.0
1  62.0   2532.0

In [22]:
df_age_mileage.isnull().sum()

age        0
Mileage    0
dtype: int64

In [21]:
df_age_mileage = df_age_mileage.dropna().copy()

In [23]:
df_age_mileage.corr()

              age   Mileage
age      1.000000  0.973281
Mileage  0.973281  1.000000

In [24]:
stats.pearsonr(df_age_mileage['age'],df_age_mileage['Mileage'])

PearsonRResult(statistic=0.9732809346109912, pvalue=0.0)

In [25]:
# stats.pearsonr(df_age_mileage['Mileage'],df_age_mileage['age'])

PearsonRResult(statistic=0.9732809346109912, pvalue=0.0)

In [27]:
#컬럼 중 하나라도 비정규 분포이면 사용하자.
stats.spearmanr(df_age_mileage['age'],df_age_mileage['Mileage'])

SignificanceResult(statistic=0.972325776844677, pvalue=0.0)