In [1]:
import pymongo as mg
import pandas as pd

In [2]:
client = mg.MongoClient(host='mongodb://localhost:27017/') # mongodb에 접속.
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
database = client['db_NHIS'] # database 접속
database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_NHIS')

In [4]:
collection = database['NSC2_BND'] #collection 접속
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_NHIS'), 'NSC2_BND')

In [8]:
cursor = collection.find({}) # collection 내의 자료 확인
data_list = list(cursor)

In [9]:
df_BND = pd.DataFrame(data_list)
df_BND.head(2)

                        _id  RN_INDI BTH_YYYY  DTH_YYYYMM     COD1     COD2
0  64d2fd0966aeaf7c0477bf6b   294364   1921LE    200707.0  T08-T14  W00-W19
1  64d2fd0966aeaf7c0477bf6c   646257   1921LE    200805.0  A15-A19      NaN

In [10]:
df_BND.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   _id         1000 non-null   object
 1   RN_INDI     1000 non-null   int64
 2   BTH_YYYY    1000 non-null   object
 3   DTH_YYYYMM  71 non-null     float64
 4   COD1        60 non-null     object
 5   COD2        7 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 47.0+ KB

In [16]:
df_BND_drops = df_BND.drop(columns=['_id'])

In [17]:
df_BND_drops.head(2)

     RN_INDI BTH_YYYY  DTH_YYYYMM     COD1     COD2
0     294364   1921LE    200707.0  T08-T14  W00-W19
1     646257   1921LE    200805.0  A15-A19      NaN
2     733575   1921LE    201309.0      G30      NaN
3     966199   1921LE    201409.0      J69      NaN
4     972598   1921LE    201205.0      C44      NaN
..       ...      ...         ...      ...      ...
995  2057743     2015         NaN      NaN      NaN
996  2063541     2015         NaN      NaN      NaN
997  2070251     2015         NaN      NaN      NaN
998  2077125     2015         NaN      NaN      NaN
999  3000758     2015         NaN      NaN      NaN

[1000 rows x 5 columns]