In [13]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd
import scipy.stats as stats
import numpy as np

In [14]:
df_ROS=pd.read_csv('../../datasets/RecurrenceOfSurgery.csv')
df_ROS[:3]

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.5,4,Down,0
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.1,4,Up,0
2,2,3PT,53.0,3,NaN,0.0,0,0,1,0,...,0,67.5,27.3,10.2,0,-1.77,1749.0,4,Down,0

- 접근방식
- 표현하는 데이터 타입
- 시각화 종류
    - 단일변수 / 연속형 : histplot
    - 단일변수 / 범주형 : barplot
    - 단일변수 / 순서형 : lineplot
- 현 데이터로 시각화 가능 여부
    - 한 chart에 동시 표현 여부 : 레코드 부리 되어 있어야 함.
    - 단일 변수 표현 시 주의점 : count 대치하는 변수 여부

In [15]:
# 필요한 변수만 추출
df_ROS_extract = df_ROS[['환자ID','입원일자','퇴원일자']]
df_ROS_extract[:3]

  환자ID      입원일자      퇴원일자
0  1PT  20190713  20190716
1  2PT  20190715  20190716
2  3PT  20190729  20190801

In [16]:
df_ROS_extract['입원일자_datatime']= pd.to_datetime(df_ROS_extract['입원일자'].astype(str))
df_ROS_extract['퇴원일자_datatime']= pd.to_datetime(df_ROS_extract['퇴원일자'].astype(str))

C:\Users\05-27\AppData\Local\Temp\ipykernel_7236\2105171627.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROS_extract['입원일자_datatime']= pd.to_datetime(df_ROS_extract['입원일자'].astype(str))
C:\Users\05-27\AppData\Local\Temp\ipykernel_7236\2105171627.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROS_extract['퇴원일자_datatime']= pd.to_datetime(df_ROS_extract['퇴원일자'].astype(str))

In [17]:
df_ROS_extract.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1894 entries, 0 to 1893
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   환자ID           1894 non-null   object
 1   입원일자           1894 non-null   int64
 2   퇴원일자           1894 non-null   int64
 3   입원일자_datatime  1894 non-null   datetime64[ns]
 4   퇴원일자_datatime  1894 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 74.1+ KB

### 주차별 환자 입원/퇴원 추이 시각화 및 인사이트
- 표현하는 데이터 타입 : 연속형, 단일변수
- 시각화 종류 : lineplot

### 요일별 환자 입원/퇴원 추이 시각화 및 인사이트
- 표현하는 데이터 타입 : 범주형, 단일변수
- 시각화 종류 : barplot
- 레코드 갯수로 count

In [18]:
df_ROS_extract['입원일자_datatime_day'] = df_ROS_extract['입원일자_datatime'].dt.day_name()
df_ROS_extract['퇴원일자_datatime_day'] = df_ROS_extract['퇴원일자_datatime'].dt.day_name()

C:\Users\05-27\AppData\Local\Temp\ipykernel_7236\3527861519.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROS_extract['입원일자_datatime_day'] = df_ROS_extract['입원일자_datatime'].dt.day_name()
C:\Users\05-27\AppData\Local\Temp\ipykernel_7236\3527861519.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROS_extract['퇴원일자_datatime_day'] = df_ROS_extract['퇴원일자_datatime'].dt.day_name()

In [19]:
df_ROS_extract

,환자ID,입원일자,퇴원일자,입원일자_datatime,퇴원일자_datatime,입원일자_datatime_day,퇴원일자_datatime_day
0,1PT,20190713,20190716,2019-07-13,2019-07-16,Saturday,Tuesday
1,2PT,20190715,20190716,2019-07-15,2019-07-16,Monday,Tuesday
2,3PT,20190729,20190801,2019-07-29,2019-08-01,Monday,Thursday
3,4PT,20190731,20190803,2019-07-31,2019-08-03,Wednesday,Saturday
4,5PT,20190903,20190907,2019-09-03,2019-09-07,Tuesday,Saturday
...,...,...,...,...,...,...,...
1889,1890PT,20170407,20170408,2017-04-07,2017-04-08,Friday,Saturday
1890,1891PT,20170426,20170429,2017-04-26,2017-04-29,Wednesday,Saturday
1891,1892PT,20170410,20170412,2017-04-10,2017-04-12,Monday,Wednesday
1892,1893PT,20170408,20170411,2017-04-08,2017-04-11,Saturday,Tuesday
1893,1894PT,20170412,20170413,2017-04-12,2017-04-13,Wednesday,Thursday

In [25]:
# pd.pivot_table(data=df_ROS_extract[['입원일자_datatime_day','환자ID']], index='입원일자_datatime_day', aggfunc=len).plot(kind='bar')
df_ROS_extract_plot = pd.pivot_table(data=df_ROS_extract[['입원일자_datatime_day','환자ID']], index='입원일자_datatime_day', aggfunc=len)

In [27]:
df_ROS_extract_plot['입원일자_dayname'] = df_ROS_extract_plot.index

In [28]:
df_ROS_extract_plot

                   환자ID 입원일자_dayname
입원일자_datatime_day
Friday              204       Friday
Monday              329       Monday
Saturday            148     Saturday
Sunday              204       Sunday
Thursday            329     Thursday
Tuesday             376      Tuesday
Wednesday           304    Wednesday