In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns

In [21]:
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:2]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0

### x는 범부형, y는 범주형 : 주로 독립성 증명

#### 선정 변수 : type_of_contract, cancellation
- 분석내용 : 계약유형에 따라 해약여부가 달라지는가??
    - 귀무가설 : 계약유형에 따라 해약여부가 달라지지 않는다.
    - 대립가설 : 계약유형에 대한 해약여부가 달라진다.
- 분석 결론(기준:p-value 0.05)
    - 통계 결론 : 대립가설이 참.
    - 사실 결론 : 계약유형에 대한 해약여부가 달라진다.

In [22]:
import scipy
scipy.__version__
import scipy.stats as stats

In [23]:
df_TOCC[['type_of_contract','cancellation']].describe()

       type_of_contract cancellation
count             51300        51279
unique                2            2
top                  렌탈           정상
freq              46481        50372

In [24]:
df_TOCC_category = df_TOCC[['type_of_contract','cancellation']]

In [25]:
df_TOCC_category_pivot = pd.pivot_table(data=df_TOCC_category, index='type_of_contract', columns='cancellation',aggfunc=len)
df_TOCC_category_pivot

cancellation         정상   해약
type_of_contract
렌탈                46137  344
멤버십                4231  563

In [26]:
stats.chi2_contingency(observed=df_TOCC_category_pivot, correction=True)

Chi2ContingencyResult(statistic=3021.9735309482894, pvalue=0.0, dof=1, expected_freq=array([[45658.8007411,   822.1992589],
       [ 4709.1992589,    84.8007411]]))

#### 선정 변수 : product, cancellation
- 분석내용 : 차종에 따라 해약여부가 달라지는가???
    - 귀무가설 : 차종에 따라 해약여부가 달라지지 않는다.
    - 대립가설 : 차종에 따라 해약여부가 달라진다.
- 분석 결론(기준:p-value 0.05)
    - 통계 결론 : 대립가설 참.
    - 사실 결론 : 차종에 따라 해약여부가 달라진다.

In [31]:
#다른 변수 이름 작성시 .copy() 사용하자.
df_TOCC_product = df_TOCC[['product','cancellation']].dropna().copy()
# df_TOCC_product[:2]
df_TOCC_product.describe()

       product cancellation
count    51278        51278
unique       6            2
top         K1           정상
freq     39111        50371

In [35]:
df_TOCC_product_pivot = pd.pivot_table(data=df_TOCC_product, index='product', columns='cancellation', aggfunc=len)
df_TOCC_product_pivot

cancellation     정상   해약
product
K1            38291  820
K2             8926   67
K3             2072   10
K4              323    4
K5              641    4
K6              118    2

In [36]:
stats.chi2_contingency(observed=df_TOCC_product_pivot,correction=True)

Chi2ContingencyResult(statistic=103.79474317337241, pvalue=8.372028115481391e-21, dof=5, expected_freq=array([[3.84192086e+04, 6.91791353e+02],
       [8.83393274e+03, 1.59067261e+02],
       [2.04517380e+03, 3.68262023e+01],
       [3.21216058e+02, 5.78394243e+00],
       [6.33591306e+02, 1.14086938e+01],
       [1.17877452e+02, 2.12254768e+00]]))

#### 선정 변수 : state, cancellation
- 분석내용 : 차종에 따라 해약여부가 달라지는가???
    - 귀무가설 : 차종에 따라 해약여부가 달라지지 않는다.
    - 대립가설 : 차종에 따라 해약여부가 달라진다.
- 분석 결론(기준:p-value 0.05)
    - 통계 결론 : 대립가설 참.
    - 사실 결론 : 차종에 따라 해약여부가 달라진다.

In [39]:
df_TOCC_error = df_TOCC[['state','cancellation']].copy()
# df_TOCC_error[:2]
df_TOCC_error.describe()

        state cancellation
count   51304        51279
unique      4            2
top      계약확정           정상
freq    50350        50372