In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import scipy
import scipy.stats as stats

In [2]:
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:2]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0

### x 연속형, y 연속형 : 주로 상관관계 확인.
- correlation coefficient(상관관계) : -1 ~ 1 사이 (0에 가까우면 관계없음, -1에 가까우면 반비례, 1에 가까우면 비례)

#### 선정 변수 : amount, Mileage
- 분석내용 : amount에 따른 Mileage의 변화가 있는가???
    - 귀무가설 : amount에 따른 Mileage의 변화 없다.
    - 대립가설 : amount에 따른 Mileage의 변화 있다.
- 분석 결론(기준:p-value 0.05)
    - 통계 결론 : 대립가설 참.
    - 사실 결론 : amount에 따른 Mileage가 반비례한다. (statistic=-0.00414621701861276, pvalue=0.404010202657426)

In [4]:
df_amount_mileage = df_TOCC[['amount','Mileage']].copy()

In [5]:
df_amount_mileage.corr()

           amount   Mileage
amount   1.000000 -0.004146
Mileage -0.004146  1.000000

In [6]:
df_amount_mileage.isnull().sum()

amount         0
Mileage    10795
dtype: int64

In [7]:
df_amount_mileage = df_amount_mileage.dropna().copy()

In [10]:
df_amount_mileage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40509 entries, 0 to 51303
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   amount   40509 non-null  int64
 1   Mileage  40509 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 949.4 KB

In [11]:
stats.pearsonr(df_amount_mileage['amount'],df_amount_mileage['Mileage'])

PearsonRResult(statistic=-0.004146217018612762, pvalue=0.404010202657426)