In [ ]:
# %conda install pymongo

In [30]:
import pymongo as mg
import pandas as pd

In [32]:
mg.__version__

'3.12.0'

In [33]:
 client = mg.MongoClient(host='mongodb://localhost:27017/') # mongodb에 접속한 상태임.
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [34]:
database = client['db_NHIS'] # database 접속
database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_NHIS')

In [35]:
collection = database['NSC2_BND'] #collection 접속
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_NHIS'), 'NSC2_BND')

In [39]:
cursor = collection.find({}) # collection 내의 자료 확인

In [40]:
list_BND = list(cursor) # list로 casting 한것

In [41]:
df_BND = pd.DataFrame(list_BND)

In [43]:
df_BND

                          _id  RN_INDI BTH_YYYY  DTH_YYYYMM     COD1     COD2
0    64d2fd0966aeaf7c0477bf6b   294364   1921LE    200707.0  T08-T14  W00-W19
1    64d2fd0966aeaf7c0477bf6c   646257   1921LE    200805.0  A15-A19      NaN
2    64d2fd0966aeaf7c0477bf6d   733575   1921LE    201309.0      G30      NaN
3    64d2fd0966aeaf7c0477bf6e   966199   1921LE    201409.0      J69      NaN
4    64d2fd0966aeaf7c0477bf6f   972598   1921LE    201205.0      C44      NaN
..                        ...      ...      ...         ...      ...      ...
995  64d2fd0966aeaf7c0477c34e  2057743     2015         NaN      NaN      NaN
996  64d2fd0966aeaf7c0477c34f  2063541     2015         NaN      NaN      NaN
997  64d2fd0966aeaf7c0477c350  2070251     2015         NaN      NaN      NaN
998  64d2fd0966aeaf7c0477c351  2077125     2015         NaN      NaN      NaN
999  64d2fd0966aeaf7c0477c352  3000758     2015         NaN      NaN      NaN

[1000 rows x 6 columns]

In [44]:
df_BND.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   _id         1000 non-null   object
 1   RN_INDI     1000 non-null   int64
 2   BTH_YYYY    1000 non-null   object
 3   DTH_YYYYMM  71 non-null     float64
 4   COD1        60 non-null     object
 5   COD2        7 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 47.0+ KB

In [46]:
df_BND.describe()

            RN_INDI     DTH_YYYYMM
count  1.000000e+03      71.000000
mean   6.404133e+05  201471.873239
std    5.241253e+05     432.203819
min    1.433000e+03  200707.000000
25%    2.812005e+05  201104.000000
50%    5.499230e+05  201508.000000
75%    8.177570e+05  201904.500000
max    3.000758e+06  202105.000000

In [48]:
df_BND.to_csv('./NSC2_BND.csv') #csv형식으로 경로를 설정하여 저장함.