In [1]:
from selenium import webdriver

In [2]:
# open chrome browser
browser =  webdriver.Chrome(executable_path='../../../../chromedriver.exe')

In [3]:
# url in address window
browser.get('https://brunch.co.kr/keyword/%EC%B1%85%EB%A6%AC%EB%B7%B0')

In [4]:
element = '.tit_sub'
element_list=browser.find_elements_by_css_selector(element)
type(element_list)

list

In [17]:
#namelist에 텍스트 담아 내기
namelist=[]
for bookname in element_list:
    namelist.append(bookname.text)

In [18]:
namelist

['', "'시인의 책상' 리뷰", '히가시노 게이고 <블랙 쇼맨과 환상의 여자>', '정여울, <그때, 나에게 미처 하지 못한 말>']

In [8]:
import pandas as pd

In [9]:
booknames=pd.DataFrame(data=namelist)
booknames

                           0
0
1                '시인의 책상' 리뷰
2   히가시노 게이고 <블랙 쇼맨과 환상의 여자>
3  정여울, <그때, 나에게 미처 하지 못한 말>

In [ ]:
# booknames.to_csv('./yes24_books_title.csv')