In [9]:
import pymongo as mg
import pandas as pd

In [10]:
client = mg.MongoClient(host='mongodb://localhost:27017/') # mongodb에 접속.
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [11]:
database = client['db_medicals'] # database 접속
database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_medicals')

In [12]:
collection = database['RecurrenceOfSurgery'] #collection 접속
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_medicals'), 'RecurrenceOfSurgery')

In [13]:
cursor = collection.find({}) # collection 내의 자료 확인
data_list = list(cursor)

In [14]:
df_ROS = pd.DataFrame(data_list)
df_ROS.head(2)

,_id,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
0,64d377f5db47ffb29e6cdbde,0,1PT,22.8,3,51.0,0.0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.5,4,Down,0
1,64d377f5db47ffb29e6cdbdf,1,2PT,44.9,4,26.0,0.0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.1,4,Up,0

In [15]:
df_ROS.columns

Index(['_id', 'Unnamed: 0', '환자ID', 'Large Lymphocyte',
       'Location of herniation', 'ODI', '가족력', '간질성폐질환', '고혈압여부', '과거수술횟수',
       '당뇨여부', '말초동맥질환여부', '빈혈여부', '성별', '스테로이드치료', '신부전여부', '신장', '심혈관질환',
       '암발병여부', '연령', '우울증여부', '입원기간', '입원일자', '종양진행여부', '직업', '체중', '퇴원일자',
       '헤모글로빈수치', '혈전합병증여부', '환자통증정도', '흡연여부', '통증기간(월)', '수술기법', '수술시간',
       '수술실패여부', '수술일자', '재발여부', '혈액형', '전방디스크높이(mm)', '후방디스크높이(mm)', '지방축적도',
       'Instability', 'MF + ES', 'Modic change', 'PI', 'PT', 'Seg Angle(raw)',
       'Vaccum disc', '골밀도', '디스크단면적', '디스크위치', '척추이동척도', '척추전방위증'],
      dtype='object')

In [16]:
df_ROS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1894 entries, 0 to 1893
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     1894 non-null   object
 1   Unnamed: 0              1894 non-null   int64
 2   환자ID                    1894 non-null   object
 3   Large Lymphocyte        1894 non-null   float64
 4   Location of herniation  1894 non-null   int64
 5   ODI                     462 non-null    float64
 6   가족력                     1843 non-null   float64
 7   간질성폐질환                  1894 non-null   int64
 8   고혈압여부                   1894 non-null   int64
 9   과거수술횟수                  1894 non-null   int64
 10  당뇨여부                    1894 non-null   int64
 11  말초동맥질환여부                1894 non-null   int64
 12  빈혈여부                    1894 non-null   int64
 13  성별                      1894 non-null   int64
 14  스테로이드치료                 1894 non-null   int64
 15  신부전여부                   1894 non-null   int64
 16  신장                      1894 non-null   int64
 17  심혈관질환                   1894 non-null   int64
 18  암발병여부                   1894 non-null   int64
 19  연령                      1894 non-null   int64
 20  우울증여부                   1894 non-null   int64
 21  입원기간                    1894 non-null   int64
 22  입원일자                    1894 non-null   int64
 23  종양진행여부                  1894 non-null   int64
 24  직업                      1479 non-null   object
 25  체중                      1894 non-null   float64
 26  퇴원일자                    1894 non-null   int64
 27  헤모글로빈수치                 1893 non-null   float64
 28  혈전합병증여부                 1894 non-null   int64
 29  환자통증정도                  1894 non-null   int64
 30  흡연여부                    1894 non-null   int64
 31  통증기간(월)                 1890 non-null   float64
 32  수술기법                    1813 non-null   object
 33  수술시간                    1840 non-null   float64
 34  수술실패여부                  1894 non-null   int64
 35  수술일자                    1894 non-null   int64
 36  재발여부                    1894 non-null   int64
 37  혈액형                     1894 non-null   object
 38  전방디스크높이(mm)             1894 non-null   float64
 39  후방디스크높이(mm)             1894 non-null   float64
 40  지방축적도                   1891 non-null   float64
 41  Instability             1894 non-null   int64
 42  MF + ES                 1894 non-null   float64
 43  Modic change            1894 non-null   int64
 44  PI                      1890 non-null   float64
 45  PT                      1890 non-null   float64
 46  Seg Angle(raw)          1893 non-null   float64
 47  Vaccum disc             1894 non-null   int64
 48  골밀도                     998 non-null    float64
 49  디스크단면적                  1893 non-null   float64
 50  디스크위치                   1894 non-null   int64
 51  척추이동척도                  1894 non-null   object
 52  척추전방위증                  1894 non-null   int64
dtypes: float64(16), int64(31), object(6)
memory usage: 784.4+ KB

In [17]:
df_ROS_drops = df_ROS.drop(columns=['_id', 'Unnamed: 0'])
df_ROS_drops

,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,말초동맥질환여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
0,1PT,22.8,3,51.0,0.0,0,0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.50,4,Down,0
1,2PT,44.9,4,26.0,0.0,0,0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.10,4,Up,0
2,3PT,53.0,3,NaN,0.0,0,0,1,0,0,...,0,67.5,27.3,10.2,0,-1.77,1749.00,4,Down,0
3,4PT,54.7,4,18.0,0.0,0,1,0,0,0,...,0,49.2,18.7,19.9,0,-1.58,1796.20,4,Down,0
4,5PT,53.8,4,NaN,0.0,0,1,0,0,0,...,0,58.8,14.7,5.2,0,-0.79,2021.48,4,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,1890PT,44.0,1,NaN,0.0,0,0,0,0,0,...,2,59.5,23.0,21.8,0,NaN,2652.20,5,Middle,0
1890,1891PT,30.8,2,NaN,0.0,0,0,0,0,0,...,0,47.7,20.2,5.0,0,NaN,1795.80,4,Down,0
1891,1892PT,36.7,3,NaN,0.0,0,0,0,0,1,...,0,44.6,15.0,17.4,1,NaN,2624.40,4,Down,0
1892,1893PT,32.5,2,NaN,0.0,0,0,0,0,0,...,2,32.2,11.1,17.7,0,NaN,1972.50,5,Down,0
1893,1894PT,49.5,2,NaN,0.0,0,0,0,0,0,...,0,38.9,6.8,27.8,0,NaN,1574.40,5,Middle,0

In [18]:
df_ROS_drops.describe()

,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,말초동맥질환여부,빈혈여부,...,MF + ES,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추전방위증
count,1894.000000,1894.000000,462.000000,1843.000000,1894.000000,1894.000000,1894.000000,1894.000000,1894.000000,1894.000000,...,1894.000000,1894.000000,1890.000000,1890.000000,1893.000000,1894.000000,998.000000,1893.000000,1894.000000,1894.000000
mean,39.270750,2.295671,31.142857,0.049919,0.020063,0.130940,0.302534,0.062830,0.004224,0.024287,...,2096.421600,0.247096,46.593651,16.329841,15.287934,0.056494,-1.507325,1989.788774,4.430834,0.032207
std,13.675874,0.996143,10.131304,0.217836,0.140254,0.337424,0.638461,0.242721,0.064871,0.153980,...,472.834488,0.661506,22.736211,8.421322,10.426397,0.230935,0.495867,314.478436,3.595680,0.176596
min,0.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1016.800000,0.000000,11.900000,-10.600000,-27.400000,0.000000,-2.840000,1145.800000,1.000000,0.000000
25%,30.700000,1.000000,24.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1765.285000,0.000000,38.700000,10.500000,8.800000,0.000000,-1.820000,1777.000000,4.000000,0.000000
50%,40.200000,2.000000,31.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2056.500000,0.000000,45.100000,15.700000,14.500000,0.000000,-1.520000,1985.500000,4.000000,0.000000
75%,48.600000,3.000000,38.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2374.350000,0.000000,52.000000,21.400000,21.100000,0.000000,-1.202500,2178.500000,4.000000,0.000000
max,89.000000,5.000000,68.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,...,5569.000000,3.000000,559.000000,48.700000,165.000000,1.000000,1.700000,3214.200000,45.000000,1.000000

In [50]:
df_ROS_drops.describe(include=object)

        환자ID    직업  수술기법   혈액형  척추이동척도
count   1894  1479  1813  1894    1894
unique  1894    17     2     4       5
top      1PT   사무직  TELD  RH+A  Middle
freq       1   449  1673   688    1260

In [19]:
df_ROS_drops['직업'].value_counts()

사무직      449
자영업      171
무직       164
학생       135
주부       114
군인        90
공무원       51
운수업       50
노동직       42
농업        40
의료직       40
사업가       39
교사        30
특수전문직     23
건설업       17
운동선수      14
예술가       10
Name: 직업, dtype: int64

In [20]:
df_ROS_drops['혈액형'].value_counts()

RH+A     688
RH+O     532
RH+B     476
RH+AB    198
Name: 혈액형, dtype: int64

In [24]:
df_ROS_drops[['재발여부','척추이동척도']].value_counts()

재발여부  척추이동척도
0     Middle            1110
      Down               454
1     Middle             150
      Down                59
0     Up                  53
      Extremely down      34
      Extremely up        16
1     Up                  12
      Extremely down       6
dtype: int64

In [25]:
df_ROS_drops[['척추이동척도']].value_counts()

척추이동척도
Middle            1260
Down               513
Up                  65
Extremely down      40
Extremely up        16
dtype: int64

In [26]:
df_ROS_drops[['디스크위치']].value_counts()

디스크위치
4        1458
5         271
3         112
2          27
45          9
34          8
10          2
11          2
1           1
12          1
23          1
25          1
35          1
dtype: int64

In [27]:
df_ROS_drops[['가족력']].value_counts()

가족력
0.0    1751
1.0      92
dtype: int64

In [28]:
df_ROS_drops[['재발여부']].value_counts()

재발여부
0       1667
1        227
dtype: int64

In [29]:
df_ROS_drops[['재발여부','수술시간']].value_counts()

재발여부  수술시간
0     45.0     112
      60.0     108
      40.0      88
      35.0      85
      30.0      81
              ...
      165.0      1
      155.0      1
      152.0      1
      151.0      1
1     145.0      1
Length: 203, dtype: int64

In [32]:
df_ROS_drops[['수술기법','입원기간']].value_counts()

수술기법  입원기간
TELD  1       1046
      2        429
      3        140
IELD  1         85
      2         30
TELD  4         29
IELD  3         17
TELD  8          5
      5          5
IELD  4          5
TELD  0          3
      7          3
      6          2
      11         2
      17         2
IELD  11         1
      6          1
      5          1
TELD  9          1
      12         1
      16         1
      18         1
      27         1
      44         1
      46         1
dtype: int64

In [37]:
df_ROS_drops[['Vaccum disc']].value_counts()

Vaccum disc
0              1787
1               107
dtype: int64

In [48]:
df_ROS_drops[['골밀도','연령']].value_counts().head(50)

골밀도    연령
-1.24  48    4
-1.70  46    3
-1.15  47    3
       48    3
-1.42  40    3
-1.89  41    3
-1.12  45    3
-1.60  48    3
-1.18  29    3
-1.63  39    3
-1.70  62    3
-1.27  23    3
-1.36  39    3
-1.69  39    3
-1.80  47    3
-1.00  47    2
-1.35  39    2
-1.90  46    2
-1.11  40    2
       25    2
-1.99  49    2
-1.59  34    2
-2.16  33    2
-1.14  47    2
-0.95  35    2
-2.19  47    2
-1.58  47    2
       48    2
-1.57  21    2
       40    2
-1.35  46    2
-1.68  47    2
-1.61  47    2
-1.10  52    2
-1.05  38    2
-0.99  39    2
-1.37  42    2
-2.04  48    2
-1.65  46    2
-1.37  38    2
-1.33  52    2
-1.00  73    2
-1.95  46    2
-1.70  55    2
-1.38  21    2
-1.93  46    2
-1.07  40    2
-1.74  30    2
-1.38  35    2
-2.00  46    2
dtype: int64

In [54]:
df_ROS_drops.describe()

,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,말초동맥질환여부,빈혈여부,...,MF + ES,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추전방위증
count,1894.000000,1894.000000,462.000000,1843.000000,1894.000000,1894.000000,1894.000000,1894.000000,1894.000000,1894.000000,...,1894.000000,1894.000000,1890.000000,1890.000000,1893.000000,1894.000000,998.000000,1893.000000,1894.000000,1894.000000
mean,39.270750,2.295671,31.142857,0.049919,0.020063,0.130940,0.302534,0.062830,0.004224,0.024287,...,2096.421600,0.247096,46.593651,16.329841,15.287934,0.056494,-1.507325,1989.788774,4.430834,0.032207
std,13.675874,0.996143,10.131304,0.217836,0.140254,0.337424,0.638461,0.242721,0.064871,0.153980,...,472.834488,0.661506,22.736211,8.421322,10.426397,0.230935,0.495867,314.478436,3.595680,0.176596
min,0.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1016.800000,0.000000,11.900000,-10.600000,-27.400000,0.000000,-2.840000,1145.800000,1.000000,0.000000
25%,30.700000,1.000000,24.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1765.285000,0.000000,38.700000,10.500000,8.800000,0.000000,-1.820000,1777.000000,4.000000,0.000000
50%,40.200000,2.000000,31.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2056.500000,0.000000,45.100000,15.700000,14.500000,0.000000,-1.520000,1985.500000,4.000000,0.000000
75%,48.600000,3.000000,38.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2374.350000,0.000000,52.000000,21.400000,21.100000,0.000000,-1.202500,2178.500000,4.000000,0.000000
max,89.000000,5.000000,68.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,...,5569.000000,3.000000,559.000000,48.700000,165.000000,1.000000,1.700000,3214.200000,45.000000,1.000000

In [55]:
df_ROS_drops[['Vaccum disc','재발여부']].value_counts()

Vaccum disc  재발여부
0            0       1577
             1        210
1            0         90
             1         17
dtype: int64

In [56]:
df_ROS_drops[['디스크단면적']].value_counts()

디스크단면적
2035.90    9
1749.00    7
1937.50    7
2155.30    6
2303.00    6
          ..
1925.70    1
1926.86    1
1930.10    1
1931.10    1
3214.20    1
Length: 908, dtype: int64

In [57]:
df_ROS_drops[['디스크단면적','PI','PT']].value_counts()

디스크단면적   PI    PT
2055.00  66.5  27.4    6
1802.90  43.7  13.1    6
2035.90  52.9  25.0    6
2299.10  49.0  31.4    6
2021.48  58.8  14.7    5
                      ..
1925.20  43.0  8.9     1
1925.70  41.2  16.7    1
1926.86  33.3  13.9    1
1930.10  40.9  24.0    1
3214.20  27.1  9.9     1
Length: 929, dtype: int64

In [61]:
df_ROS_drops[['재발여부','PI']].value_counts()

재발여부  PI
0     41.9    19
      37.1    15
      51.1    14
      41.8    14
      49.7    14
              ..
      54.9     1
1     33.1     1
      32.6     1
      32.4     1
0     11.9     1
Length: 467, dtype: int64

In [66]:
df_ROS_drops[['Instability','연령']].value_counts()

Instability  연령
0            47    102
             48     81
             46     71
             39     69
             38     61
                  ...
1            22      1
             23      1
             36      1
             33      1
0            15      1
Length: 109, dtype: int64

In [67]:
df_ROS_drops[['MF + ES']].value_counts()

MF + ES
2146.80    7
1991.00    6
2523.00    6
2286.70    6
1972.75    6
          ..
1957.80    1
1962.90    1
1964.00    1
1964.20    1
5569.00    1
Length: 911, dtype: int64

In [68]:
df_ROS_drops[['Modic change']].value_counts()

Modic change
0               1642
2                172
1                 58
3                 22
dtype: int64

In [69]:
df_ROS_drops[['Modic change','재발여부']].value_counts()

Modic change  재발여부
0             0       1452
              1        190
2             0        148
1             0         48
2             1         24
3             0         19
1             1         10
3             1          3
dtype: int64

In [71]:
df_ROS_drops[['헤모글로빈수치','입원기간']].value_counts()

헤모글로빈수치  입원기간
14.70    1       22
15.00    1       21
15.50    1       20
13.10    1       20
15.20    1       18
                 ..
14.11    2        1
14.12    2        1
         3        1
14.13    2        1
19.38    1        1
Length: 864, dtype: int64

In [76]:
df_ROS_drops[['체중','재발여부']].value_counts().head(50)

체중    재발여부
70.0  0       65
65.0  0       60
60.0  0       53
74.0  0       40
75.0  0       38
62.0  0       36
67.0  0       36
63.0  0       35
72.0  0       35
61.0  0       35
78.0  0       34
73.0  0       32
80.0  0       32
66.0  0       31
55.0  0       30
53.0  0       30
57.0  0       29
59.0  0       27
68.0  0       26
64.0  0       25
56.0  0       25
52.0  0       24
58.0  0       23
69.0  0       23
76.0  0       22
51.0  0       22
71.0  0       21
85.0  0       20
79.0  0       20
54.0  0       18
77.0  0       18
82.0  0       16
81.0  0       16
84.0  0       15
83.0  0       13
86.0  0       11
50.0  0       11
58.6  0       10
60.0  1       10
49.0  0       10
86.0  1        9
80.0  1        9
58.9  0        9
88.0  0        8
72.0  1        8
45.0  0        8
66.0  1        8
46.0  0        7
59.7  0        7
58.1  0        7
dtype: int64

In [77]:
df_ROS_drops[['종양진행여부']].value_counts()

종양진행여부
0         1888
1            6
dtype: int64

In [78]:
df_ROS_drops[['암발병여부']].value_counts()

암발병여부
0        1868
1          26
dtype: int64

In [80]:
df_ROS_drops[['가족력','재발여부']].value_counts()

가족력  재발여부
0.0  0       1542
     1        209
1.0  0         80
     1         12
dtype: int64

In [83]:
df_ROS_drops[['척추전방위증','재발여부']].value_counts()

척추전방위증  재발여부
0       0       1610
        1        223
1       0         57
        1          4
dtype: int64

In [89]:
df_ROS_drops[['간질성폐질환','재발여부']].value_counts()

간질성폐질환  재발여부
0       0       1636
        1        220
1       0         31
        1          7
dtype: int64

In [95]:
df_ROS_drops[['ODI','연령']].value_counts()

ODI   연령
43.0  34    4
29.0  50    3
36.0  35    3
31.0  47    3
35.0  29    3
           ..
27.0  24    1
      19    1
26.0  74    1
      66    1
68.0  38    1
Length: 384, dtype: int64

In [98]:
df_ROS_drops[['고혈압여부','재발여부']].value_counts()

고혈압여부  재발여부
0      0       1465
1      0        202
0      1        181
1      1         46
dtype: int64

In [100]:
df_ROS_drops[['과거수술횟수','재발여부']].value_counts()

과거수술횟수  재발여부
0       0       1331
1       0        192
0       1        168
2       0        137
1       1         33
2       1         25
3       0          7
        1          1
dtype: int64

In [102]:
df_ROS_drops[['당뇨여부','재발여부']].value_counts()

당뇨여부  재발여부
0     0       1588
      1        187
1     0         79
      1         40
dtype: int64

In [104]:
df_ROS_drops[['말초동맥질환여부','재발여부']].value_counts()

말초동맥질환여부  재발여부
0         0       1661
          1        225
1         0          6
          1          2
dtype: int64

In [106]:
df_ROS_drops[['빈혈여부']].value_counts()

빈혈여부
0       1848
1         46
dtype: int64

In [111]:
df_ROS_drops[['성별','직업']].value_counts().head(50)

성별  직업
1   사무직      288
2   사무직      161
1   자영업      112
2   무직        95
1   학생        92
2   주부        75
1   군인        74
    무직        69
2   자영업       59
    학생        43
1   운수업       39
    주부        39
    공무원       35
    노동직       30
    농업        29
    사업가       27
    의료직       22
2   의료직       18
1   특수전문직     18
2   교사        18
1   건설업       16
2   군인        16
    공무원       16
1   운동선수      13
2   노동직       12
    사업가       12
1   교사        12
2   농업        11
    운수업       11
1   예술가        8
2   특수전문직      5
    예술가        2
    운동선수       1
    건설업        1
dtype: int64

In [117]:
df_ROS_drops[['스테로이드치료','성별']].value_counts()

스테로이드치료  성별
1        1     707
0        1     461
1        2     427
0        2     299
dtype: int64

In [120]:
df_ROS_drops[['신부전여부','재발여부']].value_counts()

신부전여부  재발여부
0      0       1625
       1        221
1      0         42
       1          6
dtype: int64

In [126]:
df_ROS_drops[['신장']].value_counts()

신장
170    112
173     84
175     82
160     77
174     76
171     72
168     72
172     71
167     71
158     67
176     62
164     62
161     58
157     56
180     56
165     55
177     53
179     52
178     50
162     50
169     49
166     49
163     47
154     47
159     39
181     37
153     37
183     32
155     30
156     29
182     25
152     19
185     16
151     15
184     13
150     12
149     11
187      9
186      9
148      6
188      4
144      4
145      3
189      2
140      2
147      2
146      2
143      2
142      1
190      1
191      1
204      1
dtype: int64

In [134]:
df_ROS_drops[['심혈관질환','지방축적도']].value_counts()

심혈관질환  지방축적도
0      177.30    8
       127.10    7
       122.00    7
       137.60    6
       136.00    6
                ..
       169.16    1
       169.20    1
       171.00    1
       171.55    1
1      932.28    1
Length: 929, dtype: int64

In [136]:
df_ROS_drops[['연령']].value_counts().head(50)

연령
47    106
48     82
46     73
39     73
38     63
45     62
40     61
37     53
35     47
32     47
30     46
41     46
34     45
55     45
50     44
28     43
42     41
52     41
49     41
21     41
20     36
33     35
27     35
43     35
36     35
54     34
44     34
29     32
56     32
22     31
23     29
19     29
24     28
26     26
62     26
31     25
25     23
57     21
18     20
61     20
51     19
64     16
58     15
17     13
60     13
53     11
76     11
66     11
59     10
70     10
dtype: int64

In [138]:
df_ROS_drops[['우울증여부','성별']].value_counts()

우울증여부  성별
0      1     1138
       2      713
1      1       29
       2       13
2      1        1
dtype: int64

In [140]:
df_ROS_drops[['혈전합병증여부','재발여부']].value_counts()

혈전합병증여부  재발여부
0        0       1665
         1        225
1        0          2
         1          2
dtype: int64

In [143]:
df_ROS_drops[['환자통증정도','입원기간']].value_counts()

환자통증정도  입원기간
7       1       546
        2       237
8       1       211
        2       110
9       1        99
               ...
7       0         1
6       7         1
        4         1
5       46        1
10      44        1
Length: 63, dtype: int64

In [146]:
df_ROS_drops[['흡연여부','환자통증정도']].value_counts()

흡연여부  환자통증정도
0     7         716
      8         320
1     7         169
0     9         127
      2          98
1     8          90
0     10         80
1     9          45
0     1          40
      5          37
      3          35
1     2          32
      10         27
0     6          24
1     6          16
      1          12
      5           9
      3           9
0     4           6
1     4           2
dtype: int64

In [150]:
df_ROS_drops[['통증기간(월)']].value_counts().head(10)

통증기간(월)
1.0        805
2.0        363
3.0        167
12.0        93
6.0         91
4.0         53
5.0         51
24.0        41
10.0        25
7.0         23
dtype: int64

In [154]:
df_ROS_drops[['수술실패여부','환자통증정도']].value_counts()

수술실패여부  환자통증정도
0       7         839
        8         386
        9         155
        2         120
        10         90
        1          52
        5          46
1       7          46
0       3          43
        6          40
1       8          24
        9          17
        10         17
        2          10
0       4           8
1       3           1
dtype: int64

In [160]:
df_ROS_drops[['수술일자']].value_counts()

수술일자
20190131    28
20190103    20
20190228    18
20190201    14
20190102    13
            ..
20140731     1
20140805     1
20140806     1
20140807     1
20200806     1
Length: 976, dtype: int64

In [164]:
df_ROS_drops[['전방디스크높이(mm)','PI']].value_counts()

전방디스크높이(mm)  PI
13.7         40.8    7
8.5          52.9    6
12.6         66.5    6
9.5          45.9    6
11.2         49.0    6
                    ..
9.3          38.2    1
             38.3    1
11.8         28.1    1
9.3          51.3    1
11.2         46.4    1
Length: 921, dtype: int64

In [166]:
df_ROS_drops[['후방디스크높이(mm)','재발여부']].value_counts()

후방디스크높이(mm)  재발여부
8.20         0       51
7.60         0       41
8.80         0       40
9.30         0       36
9.40         0       36
                     ..
9.88         1        1
6.90         1        1
7.03         1        1
9.73         0        1
8.36         1        1
Length: 295, dtype: int64

In [170]:
df_ROS_drops[['지방축적도']].value_counts()

지방축적도
177.30      8
122.00      7
127.10      7
148.50      6
196.00      6
           ..
155.88      1
155.45      1
155.06      1
154.72      1
12113.47    1
Length: 878, dtype: int64

In [173]:
df_ROS_drops[['Instability','재발여부']].value_counts()

Instability  재발여부
0            0       1599
             1        218
1            0         68
             1          9
dtype: int64

In [176]:
df_ROS_drops[['Seg Angle(raw)']].value_counts()

Seg Angle(raw)
11.1              23
14.0              20
21.1              20
16.8              19
19.5              19
                  ..
3.2                1
19.0               1
30.8               1
30.9               1
22.3               1
Length: 320, dtype: int64

In [180]:
df_ROS_drops[['디스크단면적']].value_counts()

디스크단면적
2035.90    9
1749.00    7
1937.50    7
2155.30    6
2303.00    6
          ..
1925.70    1
1926.86    1
1930.10    1
1931.10    1
3214.20    1
Length: 908, dtype: int64

In [182]:
df_ROS_drops[['Large Lymphocyte','입원기간']].value_counts()

Large Lymphocyte  입원기간
44.9              1       14
34.4              1       11
34.7              1       10
40.3              1        9
45.3              1        9
                          ..
36.3              2        1
36.4              1        1
36.5              1        1
36.6              2        1
89.0              3        1
Length: 887, dtype: int64

In [185]:
df_ROS_drops[['Location of herniation']].value_counts()

Location of herniation
3                         657
2                         563
1                         493
4                         147
5                          34
dtype: int64